{{ define "main" }}

<div class="row-fluid navmargin">
    <div class="page-header">
        <h1>{{ .Title }} - {{ .Params.Location }} - {{ .Date.Format "2 January 2006" }}</h1>
    </div>
    <div class="playtop">
        {{ if .Params.mp3 }}
        <img src="{{ with .Params.image }}{{ . }}{{ end }}" /></a>
        {{ partial "player.html" $ }}
        {{ end }}
    </div>
    <p class="lead">Doel: {{ .Params.description }} <br/><br/>
    {{ if .Params.mp3 }}
        {{ i18n "topics" }}: 
        {{ range $i, $e := .Params.tags -}}
            {{- if $i -}}, {{ end -}}
            <a href='{{ "/tags/" | relLangURL }}{{ . | urlize }}'>{{ $e }}</a>
        {{- end -}}
        {{ end }}<br/>
        {{ i18n "languages" }}: 
        {{ range $i, $e := .Params.languages -}}
            {{- if $i -}}, {{ end -}}
            {{ $e }}
        {{- end -}}
    </p>
      <br>
    {{ .Content }}
    <h4><a href="{{ .Site.BaseURL }}">{{ i18n "backtohome" }}</a></h4>
</div>



{{ end }}